{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css'%}">
  <title>Random fact, Random Student & Random Image</title>
</head>
<body>

  <!-- Using CSS, style the random fact, Random Student, & Random Image -->
  <!-- Use your own colors create cards for the random facts and students,  -->
  <!-- Pro Tip: You can use multiple pages -->
  <!-- Pro Tip: Impliment a  refresh/reload button in every page  -->
  <h1>Random Fact</h1>
  {{fact}}

  <h1>Random Student</h1>
  {{name}}


  <h1>Random Image</h1>

  <img src="{{dog}}" alt="Random Dog"">
  <!-- {{dog}} -->
  <div class="card fact_card">
    <h2>Random Fact</h2>
    {{ fact }}
  </div>
  <div class="card student_card">
    <h2>Random Student</h2>
    {{ student }}
  </div>
  <div class="card image_card">
    <h2>Random Image</h2>
    <img src="{{dog}}" alt="Random Dog"">
  </div>
  <div class="card beer_card">
    <h2>Makeup Products </h2>
    {{ product }}
  </div>
  <div class="card joke_card">
    <h2>Some joke </h2>
    {{ joke }}
  </div>
  <div class="card quote_card">
    <h2>Some inspiring quote </h2>
    {{ quote }}
  </div> 
  <form action="" method="GET">
      <button type="onclick">Refresh</button>
  </form>
</body>
</html>